
@using BellDemo.Data
@model IEnumerable<BellDemo.Data.WorkFlow>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Work Orders</h1>

@if (Model.Any())
{
    @(await @Html.PartialAsync("List", @Model))
}
else
{
    
    <div>
        No Data found Please click below button to add new work oder
    </div>
    <br/>
    <a data-target="#AddWorkflow" data-toggle="modal" class="btn btn-outline-success"><i class="fa fa-plus-square"></i> Work Order</a>
}

<div class="modal fade" id="AddWorkflow" tabindex="-1" role="dialog" aria-labelledby="AddWorkflowLabel" aria-hidden="true">
    <div class="modal-dialog">
        @{
            var data = (WorkFlow)@ViewBag.workorder;
        }

        <form id="addWF" method="post" class="form form-inline " role="form">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Work Order</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @await Html.PartialAsync("AddEditForm", data)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-lg btn-warning" data-dismiss="modal">
                            <i class="far fa-times-circle fa-1x text-black"></i>
                            <b>Cancel</b>
                        </button>
                        &nbsp;
                        <button id="btnSaveNewWorkFlow" type="submit" class="btn btn-lg btn-primary">
                            <i class="fas fa-save fa-1x text-black"></i>
                            <b>&nbsp;Save&nbsp;</b>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.modal-dialog -->
</div>

@section Scripts{
    <script type="text/javascript">


        $(document).ready(function() {

            $("#ServiceCategoryTypeID").change(function() {


                $("#ServiceCategoryId").empty();

                if ($("#ServiceCategoryTypeID").val()) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetCategory")',
                        dataType: 'json',
                        data: { id: $("#ServiceCategoryTypeID").val() },
                        success: function(categories) {
                            $("#ServiceCategoryId").append('<option></option>');
                            $.each(categories,
                                function(i, category) {
                                    $("#ServiceCategoryId").append('<option value="' + category.value + '">' + category.text + '</option>');
                                });
                        },
                        error: function(ex) {
                            alert('Failed to retrieve category.' + ex);
                        }
                    });
                }
            });

            //todo can be converted to strongly typed 
            if ('@ViewBag.newlogin' === 'True') {
                swal({
                    title: "Good job!",
                    text: "You are logedIn now!",
                    icon: "success"
                });
            }
        });


        $('form#addWF').on('submit',
            function(e) {
                let self = this;
                e.preventDefault();

                var postUrl = "@Url.Action("AddOrEdit", "WorkFlows", new {Area = ""})";

                $.ajax({
                    type: "POST", //HTTP POST Method
                    url: postUrl, // Controller/View
                    data: $(self).serialize(),
                    success: function() {
                        location.reload();
                    }
                });
            });

        function deleteW(btnDelete) {
            if (btnDelete.dataset.confirmed) {
                // The action was already confirmed by the user, proceed with server event
                btnDelete.dataset.confirmed = false;
                return true;
            } else {
                // Ask the user to confirm/cancel the action
                event.preventDefault();
                swal({
                        title: "Are you sure?",
                        text: "Once deleted, you will not be able to recover this order!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true
                    })
                    .then(function(data) {
                        if (data) {
                            // Set data-confirmed attribute to indicate that the action was confirmed
                            btnDelete.dataset.confirmed = true;
                            // Trigger button click programmatically
                            btnDelete.click();
                            swal("Poof! Deleted Successfully    !",
                                {
                                    icon: "success"
                                });
                        }

                    }).catch(function(reason) {
                        // The action was canceled by the user
                        return false;
                    });
            }
        }
    </script>
}